<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.a123.recepts_project_university">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_chicken_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_chicken_square"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face"/>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.search"
                android:resource="@xml/search"/>
        </activity>
        <activity
            android:name=".activity.DescriptionRecipe"
            android:screenOrientation="portrait"
            android:label="Описание"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegestrationOrNot"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.Registration"
            android:parentActivityName=".activity.RegestrationOrNot"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.TakePhoto"
            android:screenOrientation="portrait"
            android:theme="@style/MyToolBar">
        </activity>
        <activity
            android:name=".activity.variantOfSorts"
            android:label="Как сортировать ?"
            android:screenOrientation="portrait"
            android:theme="@style/MyToolBar">
        </activity>
        <activity android:name=".activity.GalleryActivity"
            android:label="Галлерея"
            android:screenOrientation="portrait"
            android:theme="@style/MyToolBar">
        </activity>
    </application>

</manifest>